extends ../layout

block content

  br
  br
  br
  
  h1 Nueva Bicicleta

  br
  br

  form(action='/bicicletas/create' method='post')
    label(for='id') ID:
    input#id(type='txt' name='id')
    br
    label(for='color') Color:
    input#color(type='txt' name='color')
    br
    label(for='modelo') Modelo:
    input#modelo(type="text" name='modelo')
    br
    label(for='lat') Latitud:
    input#lat(type='txt' name='lat')
    br
    label(for='lng') Longitud:
    input#lng(type='txt' name='lng')
    br
    br
    input#btn(type='submit' values='OK')
    